.order {
    background: rgba(230, 80, 29, 0.1);
    padding: 10px;
    border: 1px solid #18213F;
    border-radius: 20px;
    min-width: 250px;
}

.orderTitle {
    text-align: center;
}

.orderStatusContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.dot {
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.red {
    background-color: red;
    box-shadow: 0 0 3px rgba(255, 0, 0, 0.5), 0 0 6px rgba(255, 0, 0, 0.5), 0 0 9px rgba(255, 0, 0, 0.5), 0 0 12px rgba(255, 0, 0, 0.5), 0 0 21px rgba(255, 0, 0, 0.5), 0 0 24px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.5), 0 0 45px rgba(255, 0, 0, 0.5);
}

.green {
    background-color: green;
    box-shadow: 0 0 3px rgba(0, 255, 0, 0.5), 0 0 6px rgba(0, 255, 0, 0.5), 0 0 9px rgba(0, 255, 0, 0.5), 0 0 12px rgba(0, 255, 0, 0.5), 0 0 21px rgba(0, 255, 0, 0.5), 0 0 24px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5), 0 0 45px rgba(0, 255, 0, 0.5);
}

.orderDestinationItemCaption {
    font-weight: bold;
    line-height: 22px;
}