.header {
    background-color: #2D2D44;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 80px;
}

.logoIcon {
    color: #F8F8F8;
    font-size: 30px;
    margin-right: 10px;
}

.orangeText {
    color: #E84E1B;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F8F8F8;
    font-family: 'Faster One', cursive;
    font-size: 36px;
}